@charset "UTF-8";
/* Body */
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #999;
	margin: auto;
	font-style: normal;
	font-weight: 200;
	width: 400px;
	height: 600px;
}
/* Container */
.container {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	background-color: #FFFFFF;
}
#toolbar {
	width: 100%;
	height: 5%;
	padding: 0px;
	background-color: #fff;
	border-bottom: 1px solid #2C9AB7;
	border-top: 1px solid #2C9AB7;
	display: block;
}
#headerBar {
	width:110;
	height: 5%;
	padding-top: 2%;
	padding-left: 2%;
	background-color: #ddd;
	font-weight: bold; 
	border-bottom: 1px solid #2C9AB7;
	border-top: 1px solid #2C9AB7;
	display: block;
}
#resultsBar {
	padding-top: 10px;
	width: 100%;
	height: 5%;
	background-color: #fff;
	border-bottom: 1px solid #2C9AB7;
	border-top: 1px solid #2C9AB7;
	align: center; 
	display: block;
}
#userBar {
	padding-top: 10px;
	width: 100%;
	height: 5%;
	background-color: #fff;
	border-bottom: 1px solid #2C9AB7;
	border-top: 1px solid #2C9AB7;
	align: center; 
	display: block;
}
.activeButton {
	border: 1px #0F0 solid;
}
#topLeft {
	border-bottom: 1px solid #2C9AB7;
	border-right: 1px solid #2C9AB7;
	width: 45%; 
	height: 45%;
	position: relative;
	left: 15%;
	top: 10%;
}
#topRight {
	border-bottom: 1px solid #2C9AB7;
	border-left: 1px solid #2C9AB7;
	width: 45%; 
	height: 45%;
	position: relative;
	left: 15%;
	top: 10%;
}
#bottomLeft {
	border-top: 1px solid #2C9AB7;
	border-right: 1px solid #2C9AB7;
	width: 45%; 
	height: 45%;
	position: relative;
	left: 15%;
	top: 10%;
}
#bottomRight {
	border-top: 1px solid #2C9AB7;
	border-left: 1px solid #2C9AB7;
	width: 45%; 
	height: 45%;
	position: relative;
	left: 15%;
	top: 10%;
}
#optionMenu {
	margin-top:100px;
	margin-bottom:70px;
	width: 320px;
	height: 320px;
	align: center;
}
.homeButton {
	width: 10%;
	height: 10%;
	border: 1px #000 solid;
	padding: 1%;
	margin: 2%;
}
.toolbarButton {
	width: 5%;
	height: 80%;
	padding: 0%;
	margin: 1%;
	display: inline;
}
#canvasArea {
	margin-bottom: 85px;
	touch-action: none;
}
.spiralCanvas {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	height: auto; 
	border: 1px #000 solid;
	float: left; 
}
table {
	margin-top: 2%; 
	margin-left: 2%; 
}

th, td {
	padding: 5px;
	border: 1px #999 solid; 
}

th, td {
	text-align: left;
}

tr:nth-child(even) {
	background-color: #999; 
}
#plotArea {
	overflow-y: scroll; s
}

/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #ddd;
	border-bottom: 1px solid #2C9AB7;
	display: block;
}
.logo {
	color: #000;
	font-weight: bold;
	text-align: undefined;
	width: 40%;
	float: left;
	margin-top: 1.5%;
	margin-left: 5%;
	letter-spacing: 4px;
}
nav {
	float: left;
	width: 100%;
	text-align: right;
	margin-right: 0px;
	display: block;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	margin-right: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	display: block;
}
ul li a {
	color: #000;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
	padding-left: 10;
	padding-right: 10px;
	padding-top: 15px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: inline-block;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 8px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline;
	background: #52bad5;
}

header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 8px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
